/* body.css */

.bodyContainer {
    padding: 40px calc(20% + 2rem); /* Responsive padding based on viewport width */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1600px; /* Set a maximum width for larger screens */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
  }
  
  .topHeading {
    font-size: 1.5rem; /* Adjust font size for responsiveness */
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .filterInfo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; /* Wrap items on smaller screens */
  }
  
  .filterBtn {
    height: fit-content;
    background-color: #aa081c;
    padding: 8px 15px;
    border-radius: 3px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer; /* Indicate clickable button */
    transition: background-color 0.2s ease; /* Smooth hover effect */
  }
  
  .filterBtn:hover {
    background-color: #e12e43;
  }
  
  .offlineMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40vh;
    background-color: #e12e43;
    color: whitesmoke;
    font-size: 1.8rem; /* Adjust font size for readability */
  }
  
  .userNameInpContext {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    width: 100%; /* Take full width on smaller screens */
  }
  
  .userNameInpContext label {
    margin-right: 10px;
  }
  
  .userNameInpContext input {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    width: 100%; /* Make input full-width on smaller screens */
  }
  
  .resCardContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap; /* Wrap cards on smaller screens */
    gap: 1rem; /* Spacing between cards */
  }
  
  /* Media queries for responsive adjustments */
  @media (max-width: 768px) {
    .bodyContainer {
      padding: 20px;
    }
  
    .filterInfo {
      flex-direction: column; /* Stack items on top of each other */
      align-items: flex-start; /* Align to the left */
    }
  
    .topHeading {
      margin-top: 10px;
    }
  
    .userNameInpContext {
      margin-top: 15px;
    }
  }
  