.cartContainer{
    padding:40px 230px;
}

.itemsContainer{
    background-color: rgba(128, 128, 128, 0.082);
    width: 94%;
    padding: 10px 2rem;
    margin: 1rem auto;
    border-radius: 5px;
}

.itemHeader{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.clearCartBtn{
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #aa081c;
    color: white;
    font-size: 16px;
    padding: 8px 17px;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}