
.contactContainer {
    padding: 20px 40px ;
    /* width: 100%; */
    margin-right: 1%;
    border-radius: 5px;
    overflow-x: hidden;
  }
  
  .contactHeader {
    color: #e06919; 
    margin-bottom: 40px;
    text-align: center;
  }

  .Contactdescription{
    text-align: center;
    margin-top: -36px;
    color: #fc3f00ae;
    margin-bottom: 4rem;
  }
  
  .contactForm {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  
  .formGroup{
    margin-bottom: 10px;
  }
  
  .formLabel {
    width: 120px; 
    color: #161616e8; 
    font-weight: 600;
    margin-bottom: 30px;
  }

  .formInput::placeholder,  .formTextArea::placeholder{
    color: #16161680;
  }

  .formInput,
  .formTextArea {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 100%; 
  }
  
  .formTextArea {
    min-height: 100px; 
  }
  
  .submitButton {
    background-color: #e06919; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.2s ease; 
    width: 100%;
    margin: auto;
  }
  
  .submitButton:hover {
    background-color: #ff5921; 
  }
  
  @media (max-width: 768px) {
    .contactContainer {
      padding: 20px;
    }
  
    .formLabel {
      width: auto; 
    }
  }
  