.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 100px;
    background-color:white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.100);
  }
  
  .logo{
    width: 50px;
    transform: scale(1.2);
  }

  .navlinks ul{
    align-items: center;
    display:flex;
    gap:1.8rem;
    list-style-type: none;
    font-size:1.1rem; 
    font-weight: 500;
    color: #161616;
  }
  
  .navlinks ul li:hover{
    color: #aa081c;
    transition: all 0.3s;
    cursor:pointer;
  }

  .logo-search{
    display:flex;
    /* background-color: red; */
    align-items: center;
  }

  .logBtn{
    background: #aa081c;
    cursor:pointer;
    padding: 7px 18px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
    color: white;
  }

  .logBtn:hover{
    background: #d12035;
    transition: all 0.3s;
  }