
.mainMenu{
    margin-top: 0.6rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.100);
    padding: 7px 25px;
    background-color: white;
}

.menuInfo{
    max-width: 55%;
}
.menuInfo h4{
    margin-top: 10px;
}
.menuInfo h3{
    color: #161616f1;
}
.menuInfo p{
    color: #161616d2;
}
.price{
    margin-top: -16px;
    font-weight: 400;
}
.category{
    margin-top: -10px;
    font-size: 14px;
}

.menuImg img {
    border-radius: 10px;
    width: 200px;
    object-fit: cover;
    height: 120px;
  }

  .menuImg{
    position: relative;
  }
  

b{
    color: #161616c7;
}

.ratings{
    margin-top: -12px;
    display: flex;
    gap: 1rem;
    font-size: 13px;
}

.addBtnDiv{
    position: absolute;
    right: 29%;
    bottom: -2%;
}

.addBtn{
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.968);
    padding: 4px 22px;
    color: green;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.200);
    border: none;
    outline: none;
}

@media (max-width: 1127px){
    .menuImg img{
        width: 150px;
    }

    .addBtnDiv{
        right: 22%;
        bottom: -2%;
    }
}

@media (max-width: 510px){
    .menuImg img{
        width: 90px;
        height: 80px;
        margin-top: -45px;
    }
    .addBtn{
        font-size: 12px;
        padding: 3px 14px;
    }

    .addBtnDiv{
        right: 20%;
        bottom: -2%;
    }

    .ratings{
        gap: 10px;
        font-size: 12px;
    }

    .category{
        margin-top: -10px;
        font-size: 13px;
    }

}