.resCard{
    padding: 15px;
    /* background: white; */
    border-radius: 7px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    width: 210px;
    margin-top: 1.5rem;
}

.resCard:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.resCard img{
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    height: 120px;
}

.resCard h3{
    font-size: 16px;
    margin-top: 1px;
    line-height: 22px;
}

.resCard-rating{
    display: flex;
    gap: 1.1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    color: #161616;
    
}

.resCard-menu{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #161616b0;
    margin-top: 1px;
}